<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script>
      const submitHandler = async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        let data = {};
        for (let key of formData.keys()) {
          data[key] = formData.get(key);
        }
        const response = await fetch(window.location.href, {
          method: "POST",
          body: JSON.stringify(data),
        });
        const resData = await response.json()
        console.log(resData)
        document.getElementById("res").innerHTML = resData.message
      };
    </script>
    <title>SceleFeed</title>
  </head>
  <body class="bg-black text-white" style="font-family: 'Poppins'">
    <div class="flex flex-col text-center mx-12 my-12">
      <h1 class="font-semibold text-5xl" style="font-family: 'Montserrat'">Welcome To SceleFeed</h1>
      <div class="bg-gray-900 p-6 rounded-lg mt-6">
        <div class="mb-6 font-normal">
          <p>This app will remind you of updates on <span class="text-blue-500 underline" href="http://scele.cs.ui.ac.id">SCELE <span class="text-red-500">CSUI</span></span></p>
          <p>We do not record your username or password, as we directly use the SCELE API Token.</p>
          <p class="font-semibold underline text-red-500">This app is still in beta</p>
        </div>
        <div>
          <form id="form" action="/login" method="POST" onsubmit="submitHandler(event)">
            <div>
              <div class="flex flex-col">
                <label for="username" class="form-label text-start">SCELE Username</label>
                <input type="text" class="form-control text-white rounded-lg p-1 focus:outline-none focus:ring-4 focus:ring-yellow-500 focus:border-transparent bg-gray-500" name="username" />
              </div>
              <div class="mt-2 flex flex-col">
                <label for="password" class="form-label">SCELE Password</label>
                <input type="password" class="form-control text-white rounded-lg p-1 focus:outline-none focus:ring-4 focus:ring-yellow-500 focus:border-transparent bg-gray-500" name="password" />
              </div>
            </div>
            <div class="bg-blue-900 mt-6 py-2 rounded-lg">
              <button type="submit" class="btn btn-primary text-semibold" style="font-family: 'Montserrat'">Submit</button>
            </div>
          </form>
        </div>
        <div class="bg-yellow-800 mt-5 rounded-lg">
          <p id="res"></p>
        </div>
        <div class="mt-4">
          <span>You can check the source code for this project at <span class="text-blue-500" href="https://github.com/mustafasegf/scelefeed">github.com/mustafasegf/scelefeed</span> </span>
        </div>
      </div>
    </div>
    <!--
    <div class="d-flex flex-row justify-content-center align-items-center text-center my-5 mx-4">
      <div class="">
        <h1 class="font-semibold text-5xl" style="font-family: 'Montserrat'">Welcome To SceleFeed</h1>
        <br />
        <br />
        <p class="lead">The app that will remind you of updates on scele</p>
        <p class="lead">
          This app wont record your uesrname nor password. it works by using api token from scele
        </p>
        <p class="lead">This app is still in beta stages</p>
        <br />
        <br />

        <form id="form" action="/login" method="POST" onsubmit="submitHandler(event)">
          <label for="username" class="form-label text-start">Scele Username</label>
          <input type="text" class="form-control" name="username" />
          <br />
          <label for="password" class="form-label">Scele Password</label>
          <input type="password" class="form-control" name="password" />

          <br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />
        <p id="res"></p>
      </div>
    </div>
    -->
  </body>
</html>
